<div class="list-container">
  <div class="search-bar">
    <mat-icon style="height: 20px; border-radius: 5px;">search</mat-icon>
    <input type="text" placeholder="Search" (keyup)="searchHandler(searchInput)" #searchInput />
  </div>
  <mat-icon class="delete-icon" [ngClass]="selectedNote? 'selected': ''"
    [ngClass]="disableEditing? 'disable-editing': ''" matTooltip='Delete Note'
    style="margin-left:800px; margin-top:7px;color: aliceblue;" (click)="deleteNoteHandler()">delete </mat-icon>
  <button style="margin-top: 20px;" class="add-new-note-btn" (click)="addNoteHandler()">Add Note </button>
  <button style="margin-top: 20px;" class="add-new-note-btn" [disabled]="searchedNotes().length==0"
    (click)="editNoteHandler()">Edit Note </button>
  <app-note (noteClicked)="noteClickHandler(note)" [note]="note" *ngFor="let note of searchedNotes()"> </app-note>
</div>

<!-- *ngIf="searchedNotes().length === 0"  -->