<div class="list-container">
  <div class="search-bar">
    <mat-icon style="height: 20px; border-radius: 5px;">search</mat-icon>
    <input type="text" placeholder="Search" (keyup)="searchHandler(searchInput)" #searchInput />
  </div>
  <button style="margin-top: 50px;" class="add-new-note-btn" (click)="addNoteHandler()">Add Note </button>
  <app-note (noteClicked)="noteClickHandler(note)"  (showDetailsScreenCallEdit) ="showDetailsScreenCallEdit()"  [note]="note" *ngFor="let note of searchedNotes()"> </app-note>
</div>
